First part of laboratories were conducted by <a href="https://github.com/makskliczkowski">Maksymilian Kliczkowski</a>. He created notebooks we used in laboratories and he help me and my friends with understanding basic and advanced topics in machine learning. I am really glad that I had him as a tutor.

In first course of ML/AI we were build ML models from the ground using math. 

In this notebook I will present only some task we had as a homework from notebooks about numpy and pandas.

---
## Some numpy and pandas tasks

In [ ]:
import numpy as np
import pandas as pd

### Task 0
Define the `maxx` function that takes two numpy arrays and returns the one, which has the largest sum of elements. If the sums are equal, the function should return the first array.

In [ ]:
def maxx(ar1: np.ndarray, ar2: np.ndarray):
    if ar1.sum() > ar2.sum() or ar1.sum() == ar2.sum():
      return ar1
    else:
      return ar2

In [ ]:
arr1 = np.array([6, 7, 8, 9, 10, 11])
arr2 = np.array([22, 23])
maxx(arr1, arr2)

### Task 1
Define the `meanest_of_them_all` function that takes a list of numpy arrays and returns the one, which has the largest mean of elements. If the means are equal, the function should return the first array. The function should work for arbitrary shapes of the arrays.

In [ ]:
def meanest_of_them_all(list_of_arrays : list[np.ndarray]):
    mean = 0
    tab  = None
    for arr in list_of_arrays:
      c_mean=arr.mean()
      if c_mean > mean:
        mean = c_mean
        tab = arr
    return tab

In [ ]:
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 7, 8, 9, 10])
arr3 = np.array([22, 23])
meanest_of_them_all([arr1, arr2, arr3])

### Task 2
Create two 1D, random, uniformly distributed integer $r\in [0, 100)$ numpy arrays of size 100. After that, create a new array by choosing elements that appear in both arrays. Replace all elements that are less than 50 with 0 and all elements that are greater than 50 with 1. Finally, calculate the mean of the resulting array. Use np.where function.

In [ ]:
def Task2(a : np.ndarray, b : np.ndarray):
    common = np.intersect1d(a,b)
    return np.where(common >= 50, 1,0).mean()


a   = np.random.randint(0, 100, 100)
b   = np.random.randint(0, 100, 100)

Task2(a, b)

### Task 4

Replace all nan values with the mean of the array. Then normalize the array by subtracting the mean and dividing by the standard deviation.

In [ ]:
a = np.array([1,2,3,np.nan,5,6,7,np.nan,8,9,10,np.nan])
a = np.nan_to_num(a, nan=np.nanmean(a))
a_norm = (a - a.mean())/np.std(a)
print(a_norm)

### Task 5
Treating separate rows of a matrix as independent vectors, calculate the projection of vector $\vec{v}$ onto vector $\vec{w}$ for each row of matrix $V_s$ onto rows of matrix $W_s$.

In [ ]:
Vs = np.random.uniform(size=(100, 20))
Ws = np.random.uniform(size=(100, 20))

'''
Single projection for two vectors of the same dimension
'''
def projection(v, w):
    v_norm = np.sqrt(sum(v**2))
    return (np.dot(w,v)/v_norm**2)*v

In [ ]:
for (v,w) in zip(Vs, Ws):
  print(projection(v,w))

### Homework homework

Write function that calculate convolution of two matrices

In [ ]:
x   =   np.arange(0, 3.5, 1)
h   =   np.array([2, 2, 3.0])
print("len(x)=N=", len(x))
print("len(h)=M=", len(h))
print(x)

In [ ]:
def conv(x, h):
  N = len(x)
  M = len(h)
  size = N + M -1
  y = []
  for n in range(size):
    y_n = 0
    for m in range(N):
      if n-m in range(0,M):
        y_n += x[m] * h[n-m]
    y.append(y_n)
  return y
print(conv(x,h))

## Pandas

In [ ]:
food = pd.read_csv('food/en.openfoodfacts.org.products.tsv', sep='\t')

#### a) Check the first and last ${last_idx_num + 1} elements
As `last_idx_num` input your last index number.

In [ ]:
last_idx_num = 0
food.head(last_idx_num + 1)

In [ ]:
food.tail(last_idx_num + 1)

#### b) Figure out the number of rows and columns
Find the shape of the DataFrame

In [ ]:
food.shape

#### c) Print information about it
`.info` is our friend!

In [ ]:
food.info()

#### d) Find the type of middle column
Use the method from b).

In [ ]:
food.columns[food.shape[-1]//2], food.iloc[:, food.shape[-1]//2].dtypes

#### e) How is the data indexed?
Check the index of the DataFrame.

In [ ]:
food.index

### Task 2

#### a) Load the dataframe about the users & b) Determine the separator and index
(don't know if I can find this dataset)

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                    sep         =   '|',
                    index_col   =   'user_id')
users

#### c) Show the beginning of the file

In [1]:
users.head()

KeyboardInterrupt

#### d) What is the number of rows in the DataFrame

In [ ]:
users.shape

#### e) Change the column names to consist of capital letters

In [ ]:
print(users.columns)
users.columns = map(str.upper, users.columns)
print(users.columns)

#### f) Show the types of the data

In [ ]:
users.dtypes

#### g) Print the occupation and gender of the employees

In [ ]:
users[['GENDER', 'OCCUPATION']]

#### h) How many unique occupations are there?

In [ ]:
len(users.OCCUPATION.unique())

#### i) Summerize the information about the users

In [ ]:
users.describe(include = 'all')
# without include - only gives numeric values

#### z) What is the mean age?

In [ ]:
users.AGE.mean()

#### $\eta$)  What is the occupation with least occurences?

In [ ]:
users.OCCUPATION.value_counts().tail(10)

## <center>Filtering and sorting data</center>

### Task 1
Read the same database as in the previous task.

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                    sep         =   '|',
                    index_col   =   'user_id')
users

#### a) Sort users by occupation

In [ ]:
users.sort_values('occupation')

#### b) What is the most common zip_code

In [ ]:
users.groupby('zip_code')["zip_code"].count().sort_values(ascending=False)

#### c) What happens if we choose people only over 30?

In [ ]:
age = 30
users[users.age > age].groupby('zip_code')['zip_code'].count().sort_values(ascending=False)

#### d) And in case of Women?

In [ ]:
age = 30
users[users.gender == "F"].groupby('zip_code')['zip_code'].count().sort_values(ascending=False)

## Grouping and others

The census dataset (census.csv) should be loaded as census_df.

In [ ]:
census_df = pd.read_csv('/content/drive/MyDrive/Complex labs/Lab1 - Introduction/census.csv')
census_df.head()

#### a) Which state has the most counties in it?
Answer with a pandas Series

In [ ]:
census_df.groupby(['CTYNAME'])['CTYNAME'].count().idxmax()

#### b) **Only looking at the two most populous counties for each state**, what are the five most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

In [ ]:
countys = census_df.loc[census_df['SUMLEV'] == 50]
countys['rank'] = countys.sort_values(['STNAME','CENSUS2010POP'],ascending=False).groupby(['STNAME']).cumcount()
countys.loc[(countys['rank']==0) | (countys['rank']==1)].groupby(['STNAME'])['CENSUS2010POP'].sum().sort_values(ascending=False).head(5)

#### Which county has had the largest absolute change in population within the period 2010-2014?
e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-100| = 30.

In [ ]:
census_df['diff1110'] = census_df['POPESTIMATE2011'] - census_df['POPESTIMATE2010']
census_df['diff1211'] = census_df['POPESTIMATE2012'] - census_df['POPESTIMATE2011']
census_df['diff1312'] = census_df['POPESTIMATE2013'] - census_df['POPESTIMATE2012']
census_df['diff1413'] = census_df['POPESTIMATE2014'] - census_df['POPESTIMATE2013']
census_df[['CTYNAME','diff1110', 'diff1211','diff1312','diff1413']].max(numeric_only=True).idxmax()
census_df.loc[census_df[census_df[['CTYNAME','diff1110', 'diff1211','diff1312','diff1413']].max(numeric_only=True).idxmax()]== census_df[['CTYNAME','diff1110', 'diff1211','diff1312','diff1413']].max(numeric_only=True).max()]['STNAME']

## Task 2

In census datafile, we have many regions choosen with *REGION* column.

Create a query that finds the counties that belong to regions 1 or 3, whose name starts with 'W', and whose Y = POPESTIMATE201(```your_idx[-1] % 5```) was greater than their POPESTIMATE2014.

*This function should return a DataFrame with the columns = ['STNAME', 'CTYNAME', Y, 'POPESTIMATE2014'] and the same index ID as the census_df (sorted ascending by index).*

In [ ]:
census_df['Y'] = census_df['POPESTIMATE2013'] > census_df['POPESTIMATE2014']
data = census_df.loc[((census_df.REGION == 1) | (census_df.REGION == 3)) & (census_df.CTYNAME.astype(str).str[0] == 'W') & (census_df.Y == True) ]
print(data[['STNAME', 'CTYNAME', 'Y', 'POPESTIMATE2014']].sort_index())

## Taks 3

In [ ]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
            sep         =   '|',
            index_col   =   'user_id')
users

#### a) mean age per occupation

In [ ]:
users.groupby(['occupation'])['age'].mean()

#### b) winning gender per age interval of 5 years

In [ ]:
users['my_col_bin'] = pd.cut(x=users['age'], bins=range(users.age.min(), users.age.max(), 5))
data = users.groupby(['my_col_bin', 'gender'])['zip_code'].count()
data.groupby(['my_col_bin']).idxmax()

#### d) Discover the Female ratio per occupation and sort it from the most to the least

In [ ]:
data = users.loc[users['gender'] == 'F']
data = data.groupby(['occupation','gender'])['zip_code'].count()
data_whole = users.groupby(['occupation'])['zip_code'].count()
result = (data/data_whole)
result.sort_values(ascending=False)

#### e) Calculate minimum and maximum ages for each occupation

In [ ]:
users[['occupation', 'age']].groupby(['occupation']).agg(['min', 'max'], axis="columns")

## Task 4

#### a) For each combination of occupation and gender, calculate the mean age

In [ ]:
users.groupby(['occupation', 'gender'])['age'].mean()

#### b)  For each occupation present the percentage of women and men

In [ ]:
data = users.groupby(['occupation','gender'])['zip_code'].count()
data_whole = users.groupby(['occupation'])['zip_code'].count()
(data/data_whole)*100

## Mergin'

In [ ]:
# fun
s1 = pd.Series(np.random.randint(1, high=12, size=100, dtype='l'))
s2 = pd.Series(np.random.binomial(123, 0.3, 1000))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

### Task 1

#### a) Join them guys into DataFrame by column

In [ ]:
df = pd.concat([s1, s2, s3], axis=1)
df

#### b) Fill NaNs value from 1 to 9 for first column and a big integer for the last one

In [ ]:
df[0] = df[0].fillna(np.random.randint(1, 9))
df[2] = df[2].fillna(np.random.binomial(1231512, 0.1))
df

#### c) Change the name of the columns to `floors`, `security workers` and `electricity bill`

In [ ]:
df.rename(columns = {0: 'floors', 1: 'security workers', 2: 'electricity bill'}, inplace=True)
df

### Task 2

#### a) Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
# join concat the values
bigcolumn = pd.concat([s1, s2, s3], axis=0)

# it is still a Series, so we need to transform it to a DataFrame
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

bigcolumn

#### b) Something's off with index, isn't it? Repair it

In [ ]:
bigcolumn.shape

In [ ]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

## <center>Apply</center>

In [ ]:
csv_url     = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df          = pd.read_csv(csv_url)
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
stud_alcoh = df.loc[: , "school":"guardian"]
stud_alcoh.head()

### Task 1

#### a) Create lambda function to capitalize strings.

In [ ]:
capitalizer = lambda x: x.capitalize()

#### b) apply!

In [ ]:
stud_alcoh['Mjob'] = stud_alcoh['Mjob'].apply(capitalizer)
stud_alcoh['Fjob'] = stud_alcoh['Fjob'].apply(capitalizer)

In [ ]:
stud_alcoh.tail()

### Task 2

#### a)  Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 15 years old)

In [ ]:
major = 18

def majority(x):
    if x > major:
        return True
    else:
        return False

In [ ]:
stud_alcoh['legal_drinker'] = stud_alcoh['age'].apply(majority)
stud_alcoh.head()

#### Multiply every number of the dataset by 5

In [ ]:
stud_alcoh.applymap(lambda x: x*5 if type(x) is int else x).head(10)

Max always loved adding gif in notebooks so I will add his last for pandas notebook.

# <center>That's all folks</center>
<center><img src = https://acegif.com/wp-content/uploads/gif/panda-8.gif></center>