<a name="top" id="top"></a>

<div align="center">
    <h1>Pandas Introduction</h1>
    <a href="https://github.com/makskliczkowski">Maksymilian Kliczkowski</a>
    <br>
    <i>Wroclaw University of Science and Technology</i>
    <br>
    <br>
    <i>The course is intended for Master's students of BDA at Wroclaw University of Science and Technology<i>
    <br>
        <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
    </a>
</div>

<center><img src=https://c.tenor.com/tIcg38r9_LMAAAAC/hi-hello.gif></center>

In [3]:
# !pip install numpy
# !pip install pandas

This notebook is a quick introduction to the numpy and pandas libraries. It is intended to be a quick reference for the most common operations. During this lab, we will create basic Dataframes and manipulate the data in order to find the statistical information. Those operations are probably common bread to all of y'all. Nevertheless, let's go!

The first thing we need to do is import the libraries. We will use the standard aliases for these libraries, here goes `pd` :)

```python

In [2]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## <center>Basic loading</center>

### Task 1 [Big Data - only if you want to experiment with large database]
Here we will learn how to do basic reading of Databases. Try it yourself, use syntax `pd.read_csv(...)`. Find out the separator in the database.
Load the dataframe about the food facts from url: <https://www.kaggle.com/openfoodfacts/world-food-facts/data> or located in <https://drive.google.com/drive/folders/1IKj8uBoUccq1qStKkruH5SCamyBCqRCZ?usp=drive_link>.

In [8]:
food = pd.read_csv('/content/drive/MyDrive/Complex labs/Lab1 - Introduction/food/en.openfoodfacts.org.products.tsv', sep='\t')

<ipython-input-8-df804795a89a>:1: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_csv('/content/drive/MyDrive/Complex labs/Lab1 - Introduction/food/en.openfoodfacts.org.products.tsv', sep='\t')

Loading the dataframe has to normally include the information about the separator and the location of the DataFrame. It has more options tho' and whenever we know how many rows to skip in the original file, or which columns to use as an index, we can use those parameters in the read_csv function. For more parameters in the loading go on and open the [link](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).

#### a) Check the first and last ${last_idx_num + 1} elements
As `last_idx_num` input your last index number.

In [10]:
last_idx_num = 0

In [11]:
food.head(last_idx_num + 1)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
food.tail(last_idx_num + 1)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
356026,999990026839,http://world-en.openfoodfacts.org/product/9999...,usda-ndb-import,1489072709,2017-03-09T15:18:29Z,1491244499,2017-04-03T18:34:59Z,"Sugar Free Drink Mix, Peach Tea",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Head(tail) is the method of the DataFrame class, which with possible specification of the #number, gives us a first(last) #number of elements. We can use it to visualise only some information about the specific data.

#### b) Figure out the number of rows and columns
Find the shape of the DataFrame

In [13]:
food.shape

(356027, 163)

With the shape we can obtain some information about the number of columns and the number of rows in the DataFrame. It is the most simple information we can get.

#### c) Print information about it
`.info` is our friend!

In [14]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356027 entries, 0 to 356026
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 442.8+ MB

.info() method prints the main information about the class from pandas library, whether it is Series or a DataFrame. Series is an object which does not include multiple columns. Whenever we .loc[] single row from pandas DataFrame, it is converted to a Series by convention.

#### d) Find the type of middle column
Use the method from b).

In [15]:
food.columns[food.shape[-1]//2], food.iloc[:, food.shape[-1]//2].dtypes

('monounsaturated-fat_100g', dtype('float64'))

See? We can get to columns of a DataFrame by using .columns, which is an object that can be treated like a list. Then, we can modify it, get to some element, etc...

The dataframe has a potential of quick element access by using locking. It may differ whenever we want to use the number of series or it's name.

- The df.loc method is a class parameter that is accessed via square brackets that has two degrees of freedom. ```.loc``` is based on a given name of the element .loc[rows,columns]. Imagine a situation from the DataFrame that has three elements coloumn ```color``` [orange, red, green] and is indexed by the ```dragon names``` [Reksio, Drogon, Otter]. We can access single row as ```df.loc['Reksio']```.
- The ``df.iloc``. We can obtain the same element by accessing a number of the index -> the same result as previously is given from ```df.iloc[0]```.

#### e) How is the data indexed?
Check the index of the DataFrame.

In [16]:
food.index

RangeIndex(start=0, stop=356027, step=1)

### Task 2

This time, we run the data from [GitHub](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). It holds information about the staff working at some company. Let's look at it and find out what we know. How is the data separated, what columns does the table have - we'll find out at no time!

#### a) Load the dataframe about the users & b) Determine the separator and index

In [4]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                    sep         =   '|',
                    index_col   =   'user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

See? We needed to specify the index_col and the separator which is different from the usual one.

#### c) Show the beginning of the file

In [19]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

#### d) What is the number of rows in the DataFrame

In [21]:
users.shape

(943, 4)

#### e) Change the column names to consist of capital letters

In [31]:
print(users.columns)
users.columns = map(str.upper, users.columns)
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')
Index(['AGE', 'GENDER', 'OCCUPATION', 'ZIP_CODE'], dtype='object')

".columns" is again treated as a list and a list comprehension is used with a function capitalize. Then, it is just set as it was a variable.

#### f) Show the types of the data

In [33]:
users.dtypes

AGE            int64
GENDER        object
OCCUPATION    object
ZIP_CODE      object
dtype: object

#### g) Print the occupation and gender of the employees

In [35]:
users[['GENDER', 'OCCUPATION']]

        GENDER     OCCUPATION
user_id
1            M     technician
2            F          other
3            M         writer
4            M     technician
5            F          other
...        ...            ...
939          F        student
940          M  administrator
941          M        student
942          F      librarian
943          M        student

[943 rows x 2 columns]

```loc``` in action! We see that 2 degrees of freedom are taken. The first one is given by `:`, which means we take each row in the DataFrame. Then we just specify the columns after the comma.

#### h) How many unique occupations are there?

In [39]:
len(users.OCCUPATION.unique())

21

Number of unique elements. We could problably do it also by using set, but this is longer and unnecessary :)

#### i) Summerize the information about the users

In [40]:
users.describe(include = 'all')
# without include - only gives numeric values

               AGE GENDER OCCUPATION ZIP_CODE
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

Describe gives us the simplest statistical information about the df

#### z) What is the mean age?

In [41]:
users.AGE.mean()

34.05196182396607

pandas has implemented the simplest aggregators as methods. See? Here goes mean(), but more of them can be used like .var, .std etc. You can also think about your functions.

#### $\eta$)  What is the occupation with least occurences?

In [43]:
users.AGE.value_counts().tail(10)

70    3
62    2
68    2
64    2
69    2
7     1
66    1
11    1
10    1
73    1
Name: AGE, dtype: int64

Value_counts gives a number of occurances of specific elements in the DF.

## <center>Filtering and sorting data</center>

### Task 1

#### <center>Otter</center>
<center>This is an otter, it works with you!</center>
<center><img src = https://www.otterspecialistgroup.org/osg-newsite/wp-content/uploads/2017/04/ThinkstockPhotos-827261360.jpg width=160 height=160></center>
Read the same database as in the previous task.

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                    sep         =   '|',
                    index_col   =   'user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

We see that the separator in the reading method is quite different again using a pipe |

#### a) Sort users by occupation

In [ ]:
users.sort_values('occupation')

         age gender     occupation zip_code
user_id
72        48      F  administrator    73034
768       29      M  administrator    12866
326       41      M  administrator    15235
857       35      F  administrator    V1G4L
89        43      F  administrator    68106
...      ...    ...            ...      ...
264       36      F         writer    90064
491       43      F         writer    53711
498       26      M         writer    55408
390       42      F         writer    85016
833       34      M         writer    90019

[943 rows x 4 columns]

The method sort_values has the ability to sort the columns indeed. Yet it is cool as we can specify the column(s) to be sorted by.

#### b) What is the most common zip_code
Use the groupby operation and sort the values. You can also use your own method.

zip_code
55414    9
55105    6
20009    5
55337    5
10003    5
        ..
33205    1
33308    1
33319    1
33484    1
Y1A6B    1
Name: zip_code, Length: 795, dtype: int64

Groupby is a method that uses a given mapper to split the object and then appply some function to it combining it to a results. It includes main parameters:
 - by : mapping, function, label, or list of labels

    Used to determine the groups for the groupby. If by is a function, it’s called on each value of the object’s index. If a dict or Series is passed, the Series or dict VALUES will be used to determine the groups (the Series’ values are first aligned; see .align() method). If a list or ndarray of length equal to the selected axis is passed (see the groupby user guide), the values are used as-is to determine the groups. A label or list of labels may be passed to group by the columns in self. Notice that a tuple is interpreted as a (single) key.
- axis : {0 or ‘index’, 1 or ‘columns’}, default 0

    Split along rows (0) or columns (1). For Series this parameter is unused and defaults to 0.
- level : int, level name, or sequence of such, default None

    If the axis is a MultiIndex (hierarchical), group by a particular level or levels. Do not specify both by and level.
- as_index : bool, default True

    For aggregated output, return object with group labels as the index. Only relevant for DataFrame input. as_index=False is effectively “SQL-style” grouped output.
- sort : bool, default True

    Sort group keys. Get better performance by turning this off. Note this does not influence the order of observations within each group. Groupby preserves the order of rows within each group.

#### c) What happens if we choose people only over 30?
You can again use groupby() method.

In [ ]:
age = 30
users[users.age > age].groupby('zip_code')['zip_code'].count().sort_values(ascending=False)

zip_code
55105    4
60201    3
62901    3
22902    3
97301    3
        ..
30606    1
30329    1
30220    1
30093    1
Y1A6B    1
Name: zip_code, Length: 448, dtype: int64

Groupby can be used on queried DataFrame as well. Then we use one of the aggregators which is `count` in this case.

#### d) And in case of Women?

zip_code
55414    3
22903    3
55105    3
20009    3
80526    2
        ..
37212    1
38866    1
39042    1
40256    1
V5A2B    1
Name: zip_code, Length: 251, dtype: int64

### Task 2

#### We'll use the previous dataframe and the one from [Chipotle Exercises Video](https://github.com/justmarkham) Tutorial, in which you can watch someone else go through the exercises.

In [ ]:
url     = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
idx     =
chipo   = pd.read_csv(url, sep = '\t')
chipo

SyntaxError: invalid syntax (3552398226.py, line 2)

#### a) Change the item_price column to be numeric and in USD by default
You can use the .apply() method.

In [ ]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

Another method that allows to include the self-written mapping to a given axis in the DataFrame. Apply treats each element as seperate.

#### b) Drop the duplicates treating quantity, item_name, choice_description as index for the dropout.

In [ ]:
filter_me =
filter_me

SyntaxError: invalid syntax (3472460107.py, line 1)

#### c) Calculate the item price of a single product and save that value to 'single_price' column.

In [ ]:
filter_me['single_price'] =
filter_me

SyntaxError: invalid syntax (302481691.py, line 1)

Another column in the DataFrame is created with simple quering of non-existing column.

#### d) Find products that cost more than ```int(your_idx[0:2])/2```$
Use the ".query()" method and find unique elements.

In [ ]:
val = (idx // (10**4))/2 # here, calculate that value
print(f'val={val}')
chipo.query(f'item_price > {val:.2f}').item_name.nunique()

val=11.5

29

A query can be also used in SQL-like string format ([query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html))

#### e) What is the price of each unique item?
Use the method .drop_duplicates()

In [ ]:
filter_me2 = filter_me.drop_duplicates(['item_name','choice_description', 'single_price']).sort_values('item_name')
filter_me2

,order_id,quantity,item_name,choice_description,item_price,single_price
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
357,154,1,6 Pack Soft Drink,[Coke],6.49,6.49
298,129,1,6 Pack Soft Drink,[Sprite],6.49,6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],6.49,6.49
721,298,1,6 Pack Soft Drink,[Nestea],6.49,6.49
...,...,...,...,...,...,...
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98,8.49
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25

#### f) Most expensive stuff?
Use single_price.

Use item_price.

#### g) How many people have consumed a burrito?

#### h) How many times was Coke ordered more than once in one order?

Here we have an example of using the notna() function to get only the values in the DataFrame, which are numbers. Just look

In [ ]:
chipo.notna()

      order_id  quantity  item_name  choice_description  item_price
0         True      True       True               False        True
1         True      True       True                True        True
2         True      True       True                True        True
3         True      True       True               False        True
4         True      True       True                True        True
...        ...       ...        ...                 ...         ...
4617      True      True       True                True        True
4618      True      True       True                True        True
4619      True      True       True                True        True
4620      True      True       True                True        True
4621      True      True       True                True        True

[4622 rows x 5 columns]

In [ ]:
tmp[tmp.quantity > 1].shape

(44, 2)

### Task 3

#### Read the olimpics dataset from entry on [All-time Olympic Games medal table](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table) that is in this folder.
Prepare it to work with.

In [ ]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids   = df.index.str.split('\s\(')    # split the index by '('

df.index    = names_ids.str[0]              # the [0] element is the country name (new index)
df['ID']    = names_ids.str[1].str[:3]      # the [1] element is the abbreviation or ID (take first 3 characters from that)

df          = df.drop('Totals')

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

#### a) What is the first country?

#### b) Which country has won the most gold medals in summer games? It should return a single string value.

#### c) Which country had the biggest difference between their summer and winter gold medal counts?

#### d) Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?

$$\frac{\# Summer~Gold - \# Winter~Gold}{\# Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

#### e) Write a function that creates a Series called "Points" which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

This function should return a Series named Points of length 146

## <center>`Homework` - Grouping and others [6 points]</center>

### Task 1 (2 points)

For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

(credit : University of Michigan)

The census dataset (census.csv) should be loaded as census_df.

In [4]:
census_df = pd.read_csv('/content/drive/MyDrive/Complex labs/Lab1 - Introduction/census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

#### a) Which state has the most counties in it?
Answer with a pandas Series

In [7]:
census_df.groupby(['CTYNAME'])['CTYNAME'].count().idxmax()
#census_df.CTYNAME.value_counts().head(1)

'Washington County'

#### b) **Only looking at the two most populous counties for each state**, what are the five most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values. SUMLEV should be equal to 50*

We will use the cumcount() function in order to aggregate the grouped values. This function numbers each element from 0 to the length of the group and is equivalent to:
`self.apply(lambda x: pd.Series(np.arange(len(x)), x.index))`

In [25]:
countys = census_df.loc[census_df['SUMLEV'] == 50]
countys['rank'] = countys.sort_values(['STNAME','CENSUS2010POP'],ascending=False).groupby(['STNAME']).cumcount()
countys.loc[(countys['rank']==0) | (countys['rank']==1)].groupby(['STNAME'])['CENSUS2010POP'].sum().sort_values(ascending=False).head(5)

<ipython-input-25-26e8ea9ddf58>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countys['rank'] = countys.sort_values(['STNAME','CENSUS2010POP'],ascending=False).groupby(['STNAME']).cumcount()

STNAME
California    12913918
Texas          6460598
Illinois       6111599
Arizona        4797380
New York       4735422
Name: CENSUS2010POP, dtype: int64

In [ ]:
#

Here is something that is called a pivot_table. This is the method that creates the multiindex with some aggregation without actually creating a grouping explicitly. It can treat values in a given column as new columns and assign other values to it without changing the index itself. Example:

```
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",

                         "bar", "bar", "bar", "bar"],

                   "B": ["one", "one", "one", "two", "two",

                         "one", "one", "two", "two"],

                   "C": ["small", "large", "large", "small",

                         "small", "large", "small", "small",

                         "large"],

                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],

                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9
```

***

```
table = pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)
# takes the values from column 'D' and uses columns 'A' and 'B' as idxs.

table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

```

*More can be read [here](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html)*

#### Which county has had the largest absolute change in population within the period 2010-2014?
e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-100| = 30.

In [32]:
census_df['diff1110'] = census_df['POPESTIMATE2011'] - census_df['POPESTIMATE2010']
census_df['diff1211'] = census_df['POPESTIMATE2012'] - census_df['POPESTIMATE2011']
census_df['diff1312'] = census_df['POPESTIMATE2013'] - census_df['POPESTIMATE2012']
census_df['diff1413'] = census_df['POPESTIMATE2014'] - census_df['POPESTIMATE2013']
census_df[['CTYNAME','diff1110', 'diff1211','diff1312','diff1413']].max(numeric_only=True).idxmax()
census_df.loc[census_df[census_df[['CTYNAME','diff1110', 'diff1211','diff1312','diff1413']].max(numeric_only=True).idxmax()]== census_df[['CTYNAME','diff1110', 'diff1211','diff1312','diff1413']].max(numeric_only=True).max()]['STNAME']

2566    Texas
Name: STNAME, dtype: object

### Task 2 (1 point)

In census datafile, we have many regions choosen with *REGION* column.

Create a query that finds the counties that belong to regions 1 or 3, whose name starts with 'W', and whose Y = POPESTIMATE201(```your_idx[-1] % 5```) was greater than their POPESTIMATE2014.

*This function should return a DataFrame with the columns = ['STNAME', 'CTYNAME', Y, 'POPESTIMATE2014'] and the same index ID as the census_df (sorted ascending by index).*

In [ ]:
#my index 253880 -> POPESTIMATE2013

In [43]:
census_df['Y'] = census_df['POPESTIMATE2013'] > census_df['POPESTIMATE2014']
data = census_df.loc[((census_df.REGION == 1) | (census_df.REGION == 3)) & (census_df.CTYNAME.astype(str).str[0] == 'W') & (census_df.Y == True) ]
print(data[['STNAME', 'CTYNAME', 'Y', 'POPESTIMATE2014']].sort_index())

             STNAME            CTYNAME     Y  POPESTIMATE2014
64          Alabama      Walker County  True            65567
65          Alabama  Washington County  True            16863
66          Alabama      Wilcox County  True            11052
67          Alabama     Winston County  True            24101
187        Arkansas       White County  True            78643
...             ...                ...   ...              ...
3091  West Virginia     Webster County  True             8830
3092  West Virginia      Wetzel County  True            15974
3093  West Virginia        Wirt County  True             5837
3094  West Virginia        Wood County  True            86441
3095  West Virginia     Wyoming County  True            22540

[68 rows x 4 columns]

### Task 3 (2 points)

In [33]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
            sep         =   '|',
            index_col   =   'user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

#### a) mean age per occupation

In [81]:
users.groupby(['occupation'])['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

#### b) winning gender per age interval of 5 years

In [29]:
users['my_col_bin'] = pd.cut(x=users['age'], bins=range(users.age.min(), users.age.max(), 5))
data = users.groupby(['my_col_bin', 'gender'])['zip_code'].count()
data.groupby(['my_col_bin']).idxmax()

my_col_bin
(7, 12]      ((7, 12], M)
(12, 17]    ((12, 17], M)
(17, 22]    ((17, 22], M)
(22, 27]    ((22, 27], M)
(27, 32]    ((27, 32], M)
(32, 37]    ((32, 37], M)
(37, 42]    ((37, 42], M)
(42, 47]    ((42, 47], M)
(47, 52]    ((47, 52], M)
(52, 57]    ((52, 57], M)
(57, 62]    ((57, 62], M)
(62, 67]    ((62, 67], M)
(67, 72]    ((67, 72], M)
Name: zip_code, dtype: object

*THE SLASH*

It can be in principle used to treat methods in scala-like functional programming style :)

#### d) Discover the Female ratio per occupation and sort it from the most to the least

In [53]:
data = users.loc[users['gender'] == 'F']
data = data.groupby(['occupation','gender'])['zip_code'].count()
data_whole = users.groupby(['occupation'])['zip_code'].count()
result = (data/data_whole)
result.sort_values(ascending=False)

occupation     gender
homemaker      F         0.857143
healthcare     F         0.687500
librarian      F         0.568627
artist         F         0.464286
administrator  F         0.455696
none           F         0.444444
writer         F         0.422222
marketing      F         0.384615
other          F         0.342857
student        F         0.306122
educator       F         0.273684
salesman       F         0.250000
lawyer         F         0.166667
entertainment  F         0.111111
scientist      F         0.096774
executive      F         0.093750
programmer     F         0.090909
retired        F         0.071429
technician     F         0.037037
engineer       F         0.029851
Name: zip_code, dtype: float64

#### e) Calculate minimum and maximum ages for each occupation

In [55]:
users[['occupation', 'age']].groupby(['occupation']).agg(['min', 'max'], axis="columns")

              age
              min max
occupation
administrator  21  70
artist         19  48
doctor         28  64
educator       23  63
engineer       22  70
entertainment  15  50
executive      22  69
healthcare     22  62
homemaker      20  50
lawyer         21  53
librarian      23  69
marketing      24  55
none           11  55
other          13  64
programmer     20  63
retired        51  73
salesman       18  66
scientist      23  55
student         7  42
technician     21  55
writer         18  60

### Task 4 (1 point)

#### a) For each combination of occupation and gender, calculate the mean age

In [5]:
users.groupby(['occupation', 'gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

#### b)  For each occupation present the percentage of women and men

In [10]:
data = users.groupby(['occupation','gender'])['zip_code'].count()
data_whole = users.groupby(['occupation'])['zip_code'].count()
(data/data_whole)*100

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: zip_code, dtype: float64

## <center>End of homework - Mergin'</center>

In [ ]:
# fun
s1 = pd.Series(np.random.randint(1, high=12, size=100, dtype='l'))
s2 = pd.Series(np.random.binomial(123, 0.3, 1000))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

s1

0      6
1      1
2      4
3     11
4      3
      ..
95     5
96     5
97     4
98    10
99     8
Length: 100, dtype: int32

In [ ]:
s2

0      41
1      39
2      29
3      38
4      46
       ..
995    40
996    40
997    33
998    32
999    40
Length: 1000, dtype: int32

In [ ]:
s3

0     26314
1     29603
2     13462
3     27397
4     20650
      ...
95    17445
96    25424
97    21265
98    26057
99    29583
Length: 100, dtype: int32

### Task 1

#### a) Join them guys into DataFrame by column

In [ ]:
df = pd.concat([s1, s2, s3], axis=1)
df

        0   1        2
0     8.0  37  28306.0
1     4.0  33  19181.0
2    10.0  42  20136.0
3     1.0  41  27484.0
4     2.0  40  23250.0
..    ...  ..      ...
995   NaN  28      NaN
996   NaN  42      NaN
997   NaN  42      NaN
998   NaN  26      NaN
999   NaN  49      NaN

[1000 rows x 3 columns]

#### b) Fill NaNs value from 1 to 9 for first column and a big integer for the last one

In [ ]:
df[0] = df[0].fillna(np.random.randint(1, 9))
df[2] = df[2].fillna(np.random.binomial(1231512, 0.1))
df

        0   1         2
0     8.0  37   28306.0
1     4.0  33   19181.0
2    10.0  42   20136.0
3     1.0  41   27484.0
4     2.0  40   23250.0
..    ...  ..       ...
995   8.0  28  123373.0
996   8.0  42  123373.0
997   8.0  42  123373.0
998   8.0  26  123373.0
999   8.0  49  123373.0

[1000 rows x 3 columns]

#### c) Change the name of the columns to `floors`, `security workers` and `electricity bill`

In [ ]:
df.rename(columns = {0: 'floors', 1: 'security workers', 2: 'electricity bill'}, inplace=True)
df

     floors  security workers  electricity bill
0       8.0                37           28306.0
1       4.0                33           19181.0
2      10.0                42           20136.0
3       1.0                41           27484.0
4       2.0                40           23250.0
..      ...               ...               ...
995     8.0                28          123373.0
996     8.0                42          123373.0
997     8.0                42          123373.0
998     8.0                26          123373.0
999     8.0                49          123373.0

[1000 rows x 3 columns]

### Task 2

 #### a) Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
# join concat the values
bigcolumn = pd.concat([s1, s2, s3], axis=0)

# it is still a Series, so we need to transform it to a DataFrame
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       6
1       1
2       4
3      11
4       3
..    ...
95  17445
96  25424
97  21265
98  26057
99  29583

[1200 rows x 1 columns]

#### b) Something's off with index, isn't it? Repair it

In [ ]:
bigcolumn.shape

(1200, 1)

In [ ]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

          0
0         8
1         4
2        10
3         1
4         2
...     ...
1195  17331
1196  10151
1197  18313
1198  17868
1199  25341

[1200 rows x 1 columns]

## <center>Apply</center>

Read the data from [GitHub](https://github.com/guipsamora).

In [ ]:
csv_url     = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df          = pd.read_csv(csv_url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [ ]:
stud_alcoh = df.loc[: , "school":"guardian"]
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Task 1

#### a) Create lambda function to capitalize strings.

In [ ]:
capitalizer = lambda x: x.capitalize()

#### b) apply!

In [ ]:
stud_alcoh['Mjob'] = stud_alcoh['Mjob'].apply(capitalizer)
stud_alcoh['Fjob'] = stud_alcoh['Fjob'].apply(capitalizer)

In [ ]:
stud_alcoh.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

### Task 2

#### a)  Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 15 years old)

In [ ]:
major = 18

def majority(x):
    if x > major:
        return True
    else:
        return False

In [ ]:
stud_alcoh['legal_drinker'] = stud_alcoh['age'].apply(majority)
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,False
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False

#### Multiply every number of the dataset by 5

In [ ]:
stud_alcoh.applymap(lambda x: x*5 if type(x) is int else x).head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,90,U,GT3,A,20,20,At_home,Teacher,course,mother,False
1,GP,F,85,U,GT3,T,5,5,At_home,Other,course,father,False
2,GP,F,75,U,LE3,T,5,5,At_home,Other,other,mother,False
3,GP,F,75,U,GT3,T,20,10,Health,Services,home,mother,False
4,GP,F,80,U,GT3,T,15,15,Other,Other,home,father,False
5,GP,M,80,U,LE3,T,20,15,Services,Other,reputation,mother,False
6,GP,M,80,U,LE3,T,10,10,Other,Other,home,mother,False
7,GP,F,85,U,GT3,A,20,20,Other,Teacher,home,mother,False
8,GP,M,75,U,LE3,A,15,10,Services,Other,home,mother,False
9,GP,M,75,U,GT3,T,15,20,Other,Other,home,mother,False

# <center>That's all folks</center>
<center><img src = https://acegif.com/wp-content/uploads/gif/panda-8.gif></center>